.content {
    width: 80%;
    padding: 1rem 1rem;
}
.head h1{
    font-size: 32px;
    font-weight: 700; 
    font: Poppins;
    color: black;
    /* margin-bottom: 10px; */
}
.cards {
    width: 22%;
    padding: .3rem;
    margin: 2rem .5rem;
    background: white;
    position: relative;
    border-radius:3%;

}
.card-icon{
    position: absolute;
    right: 30px;
    background: #bbbbbb;
    padding: .5rem ;
    height: 30px;
    text-align: center;
    margin-top: .5rem;
    border-radius: 10px;

}
.favorite-card-icon{
    position: absolute;
    right: 30px;
    background: white;
    padding: .5rem  .5rem;
    height: 30px;
    margin-top: 1rem;
    border-radius: 10px;
    text-align: center;
}
.card-icon svg{
    color: white;
    /* margin-bottom: 1rem; */
}
.favorite-card-icon svg{
    color: red;
    /* margin-top: 1rem; */
}
.card-avatar{
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-top: -1rem;
    margin-left: 1rem;
    padding: 5px;
    background-color: white;
}
.card-avatar img{
    border-radius: 50%;

}
.cards-img{
    width:100%;
    height: 139px;
    border-radius: 10px;

}

 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cards-img img{
    border-radius:3%;

}
.cards-holder{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}
.names {
    font-size: 12px;
    font-weight: 700;
    font: Public-Sans;
    padding-bottom: 5px;
}
.layout{
    display: flex;
}
.app {
    display: block;
}
.side{
    width: 220px;
    border-right: 1px solid #bbbbbb;
    height: 100Vh;
}
.logo {
    width: 90px;
}
.home-tab {
    display: flex;
}
.home-tab svg{
    color: grey;
    margin-top: 27px
}
.home-tab p{
    padding-left: 15px;
    font: Poppins;
    font-size: 20px;
    font-weight: 700;
    color: #0000006E;
}
.tab{
    padding-left: 2rem;
    padding-top: 1rem;
}
@media screen and (max-width:600px) {
  .cards{
    width: 90%;
    margin: 1rem auto;
  } 
}

@media screen and (min-width:601px) and (max-width:950px)  {
    .cards{
      width:47%;
      margin: 1rem auto;
    } 
  }